---
import 'animate.css';

// Información y estilos necesarios para la animación
interface Props {
  right: boolean;
  title: string;
  description: string;
  bntPrimary: btn;
  btnSecondary?: btn;
}

interface btn {
  text: string;
  link: string;
}

const { title, description, bntPrimary, btnSecondary, right } = Astro.props;
---
<div class="carousel-caption d-flex justify-content-center align-items-center h-100 animate__animated animate__fadeIn animate__delay-750ms">
  {right ? <div class="col-xl-6"></div> : <div class="col-xl-6 order-1"></div>}
  <div
    class="col-xl-6 col-sm-12 mb-3 opacity-75"
  >
    <div class="card p-5 rounded-5">
      <div class="card-body text-center">
        <h1 class="card-title ">{title}</h1>
        <br>
        <p class="card-text fs-5">{description}</p>
        <br>
        <a class="btn btn-primary" href={bntPrimary.link}>
          {bntPrimary.text}
        </a>
        {
          btnSecondary ? (
            <a
              class="btn btn-outline-primary"
              href={btnSecondary.link}
            >
              {btnSecondary.text}
            </a>
          ) : null
        }
      </div>
    </div>
  </div>
</div>