---
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
  price: number;
  description: string;
  image: ImageMetadata;
}

const { title, price, description, image } = Astro.props;
---

<div class="card h-100">
  <Image src={image} class="card-img-top object-fit-cover" style="height: 20rem;" alt={title} />
  <div class="card-body">
    <h5 class="card-title">
      <div>{title}</div>
    </h5>
    <p class="card-text fs-5">${price.toFixed(2)}</p>
    <p class="card-text">{description}</p>
    <div class="d-flex justify-content-around">
        <a href="#" class="btn btn-primary">
            <i class="bi bi-eye"></i> View details
          </a>
          <a href="#" class="btn btn-outline-primary">
            <i class="bi bi-cart"></i> Add to cart
          </a>
    </div>
  </div>
</div>

<style>
  .card {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
</style>